/* Thank You Page Styles */
.thank-you-section {
  text-align: center;
  padding: 100px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #E7CD78; /* Gold color */
}

p {
  font-size: 1.5rem;
  margin-bottom: 40px;
  color: #E7CD78; /* Gold color */
}

.back-home-button {
  padding: 15px 30px;
  background-color: #E7CD78; /* Gold color */
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.back-home-button:hover {
  background-color: #bfa432; /* Darker gold on hover */
}
